[submodule "sig-cloud-providers/aws/quickstart-eks-KubeSphere/quickstart-aws-vpc"]
	path = sig-cloud-providers/aws/quickstart-eks-KubeSphere/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc
[submodule "sig-cloud-providers/aws/quickstart-eks-KubeSphere/submodules/quickstart-aws-vpc"]
	path = sig-cloud-providers/aws/quickstart-eks-KubeSphere/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc
